flask==2.0.2
flask-cors==3.0.10
flask_session==0.4.0
opentelemetry-api==1.9.1
opentelemetry-exporter-otlp==1.9.1
opentelemetry-sdk==1.9.1
opentelemetry-instrumentation-flask==0.28b1
opentelemetry-instrumentation-requests==0.28b1
redis==4.1.4
requests==2.27.1
